/*
 * This CSS file includes styles for the mobile version of the application
 * Included in the directory is the jQuery mobile custom theme built using ThemeRoller http://www.jquerymobile.com/themeroller
 * and the jquery mobile required structure
*/
.center {
	text-align:center;
}

h2 {
	padding-bottom: 5px;
	margin:0;
	text-align: center;
}

h3 {
	padding: 0 5px 0 5px;
	margin:0 0 0.1em 0;
}

p { 
	margin:0;
	text-align: justify;
	padding: 0.6em 5px 0.6em 5px;
}

p.small-text {
	font-size: 0.7em;
}

#header {
	border:0;
	padding: 0.2em 0 0.2em 0;
}

img.page_logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#content {
	padding: 1em 0.2em 1em 0.2em;
}

#search {
	padding: 0.2em;
	background: #6c241d;
	margin: 0;
}

#login_status {
	background: #4C2516;
	padding: 0.2em 0 0.2em 0;
}

#login_status p {
	padding:0 5px 0 5px;
	text-align: center;
}

#info {
	background: #EEEEEE;
	text-align: center;
	color:#000000;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

#footer {
	border-top: 0.5em solid #4C2516;
	padding: 0.2em 0 0.2em 0;
	text-align: center;
}

.collapsible_button h3{
	margin-left: 5px;
	margin-right: 5px;
}

.collapsible_button h3 a{
	text-align: center;
}

/* List */

.odd {
	background: #666666;
}

.even {
	background: #333333;
}

.post_list, .post_list p.small-text {
	text-align:center;
}

.post_list .ui-btn {
	margin:0;
}

.post_list {
	margin: 1.6em 5px 1.6em 5px;
	
}

.post_list b {
	text-decoration: none;
	background: #FFF191;
	color: #000000;
	text-shadow: none;
}


/* List Pagination */
.pagination {
  background: transparent;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .pagination a, .pagination span {
    padding: 0.2em 0.3em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }
      
.page_info {
	text-align: center;
}
      
/* Cient Side Validation */

.required, .message { 
	color: #ee0000; 
}

/* all forms */
#new_user label, #new_post label, .field_with_errors, .field_with_errors label {
	display: inline;
}

#search input, #new_user input, #login input, #new_post input, #new_post textarea, #new_post select  {
	width: 100%;
	margin-bottom: 0.5em;
}

/* New Post Screen */

#new_post textarea {
		width: 100%;
		height: 150px;
}

/* Show Post Screen */

	.show_post .small-text {
		background: #EEEEEE;
		color: #000000;
		text-shadow: none;
		padding: 0.2em 0 0.2em 0;
	}
	
	.show_post, .show_post .small-text {
		text-align: center;
	}
	
	/* Description */
	.post_display {
		padding:0;
		margin: 0.5em 0.2em 0.5em 0.5em;
		background: #666;	
		white-space: pre-line;	
	}
	
	p.description {
		padding: 0.6em;
	}
	
	/* Score */
	
	.score {
		text-align: center;
	}
	
	.score .score_count{
	    font-size: 2em;
	}
	
	/* comments */
	
	.comment {
		text-align: left;
		padding: 5px;
		border-bottom: 1px dotted #aaaaaa;
	}
	
	.highlight {
		color: #ff8888;
	}
	
	.new_comment input {
		width: 100%;
	}
	
	/* solution */
	
	.new_solution textarea {
		width: 100%;
		height: 150px;
	}	