<% @page_title = "Update Problem"%>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="problem new">
  <h2>Update Problem</h2>

  <%= form_for(:problem, :url => {:action => 'update', :id => @problem.id}) do |f| %>
  
	<%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Submit Problem") %>
    </div>
    
  <% end %>
</div>