<% @page_title = "Create Problem"%>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="problem new">
  <h2>Create Problem</h2>

  <%= form_for(:problem, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Submit Problem") %>
    </div>
    
  <% end %>
</div>