<% @page_title = "Login" %>

 	<%= render 'form' %>

<% content_for :right_bar do %>
<div class="right_bar_feature">
<h2>Help</h2>
<p>Login here to post problems, suggest fixes, comment or vote on existing problems.</p>
<br />
</div>
<% end %>

<% @hide_categories = true %>
<% @hide_tags = true %>