<% @page_title = "Home"%>

<h2>Welcome</h2>

<p>
Find Fix is a web application that allows users to record, discuss and search IT support problems and solutions. 
</p>

<p>
It allows users to create a record of an IT support problem that they have, storing details such as name, description, 
error message to share and discuss the problem with others.
</p>

<p>
Existing problems can be searched and tagged with keywords to make the search more effective. 
Each record added can be searched by any user, and over time the system will improve its knowledge base.
</p>
