<div class="score">
	  <% tiptext = get_vote_tiptext(post) %>
      <p>Score</p>
      <%= button_to("+", {:controller => 'votes', :action => 'create', :id => post.id, :vote_type => "positive", :problem_id => problem_id, :post_type => post.class}, :class => "tooltip", "data-tooltip" => tiptext['positive'], :onclick => "return confirm(\"You are about to submit a positive vote for this #{post.class.to_s.downcase!}\")") if is_logged_in %>
      <span><%= vote_count(post) %></span>   
      <%= button_to("-", {:controller => 'votes', :action => 'create', :id => post.id, :vote_type => "negative", :problem_id => problem_id, :post_type => post.class}, :class => "tooltip", "data-tooltip" => tiptext['negative'], :onclick => "return confirm(\"You are about to submit a negative vote for this #{post.class.to_s.downcase!}\")") if is_logged_in %>
</div>