<% @page_title = "Update Post"%>
<% @content_header = "Update Post"%>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="post new">

  <%= form_for(@post, :url => {:action => 'update', :id => @post.id}) do |f| %>
  
	<%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Submit Post") %>
    </div>
    
  <% end %>
</div>