<% @page_title = "Posts List"%>
<% @content_header = "All Problems"%>
  <%= list_posts(@posts)  %>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @posts, :model => "Problem", :html => false  %>
    </div>
    <%= will_paginate @posts, :container => false %>
</div>

<% @right_header = "Help"%>

<% content_for :right_bar do %>
<p>Click the title of the record to view the problem and suggested solutions in detail.</p>
<p>If you are logged in you can also suggest a solution of your own.</p>
<% end %>