<% @page_title = "Create Post"%>
<% @content_header = "Post New Problem"%>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="post new">

  <%= form_for(@post, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Submit Post") %>
    </div>
    
  <% end %>
  
</div>