<script>confirm_submit("#post_confirm", ".post_submit");</script>
<div id="post_confirm" title="Submit Problem" style="display: none;">Are you sure you wish to submit this problem?</div>

<% @page_title = "Create Post"%>
<% @content_header = "Post New Problem"%>

<div class="post new">
  <%= nested_form_for(@post, :validate => true, :url => {:action => 'create'}) do |f| %>
  
    <%= render "form", :f => f %>
    
    <div class="form-buttons">
      <%= submit_tag("Submit Post", :class => "post_submit") %>
    </div>
    
  <% end %>
  
</div>

<% content_for :right_bar do %>

<% end %>