<% @page_title = "Create Post"%>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="post new">
  <h2>Create Post</h2>

  <%= form_for(:post, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Submit Post") %>
    </div>
    
  <% end %>
</div>