<% @page_title = "Create Post"%>
<% @content_header = "Post New Problem"%>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="post new">
<br />
  <%= form_for(@post, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Submit Post") %>
    </div>
    
  <% end %>
  
</div>

<% @right_header = "Help"%>

<% content_for :right_bar do %>
<p>Use this form to post a technical problem you are having.</p>
<p>The fields used are discussed below.</p>

<p><b>Title:</b><br />
Enter a brief one line summary of the problem you are having here.</p>

<p><b>Description:</b><br />
Enter as much detail as you can about the problem you are having here.</p>

<p><b>Error Messages:</b><br />
Enter any error messages you recieve here. You can add multiple error messages.</p>

<p><b>Categories:</b><br />
Select a category here that is most relevant to your problem. You can add multiple categories</p>

<p><b>Tags:</b><br />
Enter any keyword tags here that summarise your problem. You can add multiple tags</p>
<% end %>