/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 *= require_directory ./plugins
*/

/* Colors
red/orange:   	 	#993120
brown:        		#4C2516
pink:   			#FF8888
dark grey: 			#1C1C1C
light grey/white:  	#EEEEEE
*/

/* Default layout of standard HTML elements */

html { 
	height: 100%; 
	width: 100%; 
}
body { 
	width: 100%; 
	min-width: 1024px; 
	height: 100%; 
	margin: 0; 
	padding: 0; 
    font: 14px Verdana,Lucida,Arial,Helvetica,sans-serif;  
}
h2 { 
	font-size: 20px; 
	border-bottom: 1px solid #993120; 
	padding-bottom:0; 
	text-shadow: 1px 1px #000000; 
}
p, td, ul, ol, li, dl, dt, dd { 
  	font-family: Verdana,Lucida,Arial,Helvetica,sans-serif; 
}
p, td, ul, ol, li, dl, dt, dd, h1, h2, h3 { 
  	padding: 5px 0 5px 0; margin: 0;
}

li { 
	margin-left: 1em;
}
img { 
	border: none; 
}
table { 
	border-collapse: collapse; 
}
table tr th, table tr td { 
	vertical-align: top; 
	text-align: left; 
  	padding: 3px; 
}
a { 
	color: #FF8888;
	text-decoration: underline; 
}
a:visited { 
	color: #FF7777;	 
}
a:hover { 
	color: #EEEEEE; 
}

/* Structure */

/* Header */
#header { 
	height: 5em; 
	padding: 1em 0 0 1em; 
	text-align: left; 
	background: url("header_background.png") repeat-x #993120;
  	color: #000000; 
  	border-top: 1em solid #4C2516; 
  	margin: 0;
}
#header h1 { 
	margin: 0; 
	padding: 0; 
}
#header_content { 
	width: 1000px; 
	margin: 0 auto 0 auto; 
}

/* Search */
#search_bar { 
	display: inline-block; 
	font-size: 16px; 
	width: 430px; 
	position: relative; top: 10px; 
}
#search_bar form {  
	width: 550px; 
}
#search_input {
	text-indent: 10px;
	height: 30px; 
	line-height: 30px; 
	width: 370px; 
	font-size: 16px; 
	color: #000; 
	padding-left: 5px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 0 none !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) inset;
}
#delete { /* Delete button that clears search field */
	display: inline; 
	position: relative; 
	right: 130px; 
	font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif; 
	font-size:20px; 
}
#delete #x { 
	color: #999; 
	cursor:pointer; 
	display:none; 
}
#delete #x:hover { 
	color: #F55; 
}
#search_submit {
	color: #EEEEEE;
	position:relative;
	left:3px;
	height: 30px; 
	line-height: 30px; 
	width: 100px; 
	font-size: 16px; 
	background: #4C2516; 
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 0 none !important;
    box-shadow: -2px -2px 3px rgba(10, 10, 10, 0.8) inset;
}

#search_submit:hover {
	background: #EEEEEE;
	color: #4C2516;
	box-shadow: -2px -2px 3px rgba(10, 10, 10, 0.8) inset;
}

/* Bar displaying links below the header */
#info_bar { 
	height: 3em; 
	background: #4C2516; 
	box-shadow: 0 4px 3px rgba(0, 0, 0, 0.8);
	margin-bottom: 20px;
}
#info_bar_content { 
	width: 1000px; 
	margin: 0 auto 0 auto;
}

/* Contains Content area and right sidebar */
/* Forces containing floated block to grow with the content inside it */
#main { 
	overflow: auto; 
	display: inline-block; /* triggers hasLayout in IE */
}
#main { 
	display:block; 
	width: 1024px; 
	margin: 0 auto 30px auto; 
}

/* Main Content Area */
#main_content{ 
	width: 760px;
}

#content { 
	width: 690px;
	border: 1px solid #000;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: #343434;
	padding: 20px 35px 20px 35px; 
	min-height:300px;
	margin-bottom: 10px;
	box-shadow: 6px 6px 5px #000;
}
#content h2 { 
	margin-bottom: 15px; 
}


/* Right Hand Bar */
#right_bar { 
	float:right; 
	width: 245px; 
}

#right_bar_content { 
	border: 1px solid #000;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: #343434;
	padding: 20px; 
  	width: 190px; 
  	min-height:320px; 
  	margin-bottom: 10px;
	box-shadow: 6px 6px 5px #000;
}
#right_bar_content h2 { 
	text-align: center; 
	margin-bottom: 10px; 
}
#right_bar_content p {
	padding: 0;
	line-height: 18px;
}
.right_bar_feature {
	margin-bottom: 30px;
}



/* Footer */
#footer { 
	clear: both; 
	border-top: 1em solid #4C2516;
  	background: url("footer_background.png") repeat-x #6c241c; 
  	color: #EEEEEE;
}
#footer_content { 
	color: #EEEEEE; 
	text-align: right; 
	width: 1000px; 
	margin: 0 auto 0 auto; 
	padding-top: 1em;
}
#footer p { 
	margin: 0; 
	padding: 1em 1em 0 1em; 
}
#footer a { 
	color: #eee; 
}
#footer a:hover { 
	color: #f88; 
}
#footer_content_left { 
	float: left; 
}

/* Wrapper that forces the footer to the bottom of the page with the push div and also sets the background colour */
#wrapper { 
	min-height: 100%; 
	height: auto !important; 
	height: 100%; 
  	margin: 0 auto -6em; 
  	background: url("background.gif") repeat #1c1c1c; 
  	color: #EEEEEE;
}
#footer, #push { 
	height: 5em; 
}


/****************/

/* Classes */

.page_logo {
	float:left; 
	margin-right: 20px;
}
.clear { 
	clear: both; 
}
.center { 
	text-align: center; 
}
.right {
	text-align: right;
}
.highlight { 
	color: #FF8888;
}
.modal_message {
	background:#BEBEBE;
}
.nopadding {
	padding:0;
}
.indent {
	padding-left: 10px;
}
.small-text {
	font-size: 11px;
}

/* Links in the top right of the page */
.access_links {
	float:right; 
	margin: 10px 10px 0 0;  
}
.access_links a{
  	-moz-border-radius: 10px;
	border-radius: 10px;
}
a.access{ 
	padding: 0 10px 0 10px; 
	margin: 0 0 0 10px; 
	display:inline-block; 
	width: 100px; 
	height: 30px;
	line-height: 30px;
  	background: #4c2516; 
  	color: #eeeeee; 
  	font-size: 16px; 
  	text-decoration: none;  
  	text-align: center; 
  	text-shadow: 1px 1px #000000;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 0 none !important;
    box-shadow: -2px -2px 3px rgba(10, 10, 10, 0.8) inset;
}
a.access:hover { 
	background: #eeeeee;
	color: #4c2516; 
	text-decoration: none;
	text-shadow: none;
	 
}
/* Links in the info bar */
a.navigation { 
	background: #993120;  
	color: #eeeeee;
	font-size: 16px; 
	text-decoration: none; 
	padding: 2px 10px 2px 10px;
	margin: 0 2px 0 2px;
  	position: relative; 
  	top: 10px; 
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-shadow: none;
	box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.8) inset;
}
a.navigation:hover, a.nav_selected {
	background: #eeeeee;
	color: #4c2516;	 

}
.login_status { 
	color: #eeeeee; 
	float:right; 
	padding: 10px 20px 0 0; 
}

/* Forms */
form { 
	width: 660px; 
	margin: 0 auto 0 auto; 
}
.form-input input { 
	height: 25px; 
}
.form-input textarea { 
	font-family: Verdana,Lucida,Arial,Helvetica,sans-serif;
}
.form-input select { 
	height: 30px; 
}
.form-field { 
	padding: 10px 0 10px 20px;
}
.form-field label { 
	font-size: 16px; 
}
.form-field input, select { 
	width:600px; 
	font-size: 16px;
}
.form-field textarea { 
	width:594px; 
	font-size: 16px;
}
.message { 
	padding-left: 5px; 
	color: #FF0000; 
	font-size:14px; 
	font-family:Arial,Helvetica, Arial Narrow;
}
.form-field textarea { 
	font-size: 16px; 
}
.form-buttons { 
	text-align: center; 
	margin-top: 10px;
}
.form-buttons input { 
	font-size: 16px; 
	padding: 10px;
}
.required {
	color:#AA0000; font-size:20px;
}
.field_with_errors { /* Client side Validation on forms */
	display: inline; 
}
.textarea_background {
	width: 600px;
	background: #FFFFFF;
	color: #000000;
	padding: 2px;
  	-moz-border-radius: 5px;
	border-radius: 5px;	
}

.textarea_background a{
	color: #3333AA;
}

.textarea_background a:hover{
	color: #AA3333;
}


/* Notice that displays flash[:notice] messages */
.notice { 
	padding: 0.5em; 
	color: #6c241c; 
	text-align: center;
  	background: #EEEEEE;
  	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #000;
	margin-right: 15px;
	margin-bottom: 20px;
}

/* Link on several pages that sends users back to the previous page */
.back-link { 
	font-size: 1em; 
}

/* List of posts/categories etc. */
.list table {  
	width: 100%; 
}
.list tr { 
	padding:0; 
}
.list_details { 
	font-size: 12px; 
	padding:5px;
}
.list_details a { 
	text-decoration:none; 
}
a.list_title { 
	font-size: 18px; 
	color: #FF8888
}
a.list_title:hover { 
	text-decoration:underline; 
}
a.list_tags { 
	font-size: 12px; 
	display:inline-block; 
	background: #aaaaaa; 
	color:#1C1C1C; 
	margin: 0 0 0 10px; 
	padding: 0 5px 0 5px; 
	border-bottom: 1px solid #000000; 
	border-right: 1px solid #000000; 
	text-decoration:none; 
}
a.list_tags:hover { 
	background: #eeeeee; 
}
.list_metrics {
	text-align: center; 
	vertical-align:middle; 
	font-size: 18px;
}
.list_metrics p {
	font-size: 11px; 
	padding:5px 0 5px 0; 
	font-family:Arial,Helvetica, Arial Narrow;
}

/* Alternates background colour between table rows in a list */
.odd { 
	background: #2c2c2c; 
}
.even { 
	background: none; 
}

/* Form Validation Errors */
.fieldWithErrors label { 
	color: #AA0000; 
}
.fieldWithErrors input textarea { 
	border: 1px solid #AA0000; 
}
/* errorExplanation is the box that appears with server side validation errors */
#errorExplanation { 
	width: 600px; 
	padding: 0; 
	margin: 10px auto 0 auto;
  	border: 1px solid #AA0000; 
  	background-color: #EEEEEE; 
  	font-size: 14px; 
}
#errorExplanation h2 { 
	font-weight: bold; 
	font-size: 18px;
  	padding: 5px 5px 5px 15px; 
  	margin: 0; 
  	width: 580px;
  	background-color: #AA0000; 
  	color: #FFFFFF; 
}
#errorExplanation p { 
	color: #333333; 
	margin: 0; 
	padding: 3px 0.5em; 
}
#errorExplanation ul { 
	margin-top: 0; 
	margin-left: 25px; 
	color: #333333;
}
#errorExplanation ul li { 
	list-style: square; 
}

/* Action buttons used for administration of posts, categories etc. */
/* large action buttons */
a.action { 
	float: right; 
	padding: 2px 5px; 
	margin: 0 0 1em 1em; 
  	background: #6c241c; 
  	color: #eeeeee;  
  	border: 1px solid #000000;
  	text-decoration: none; 
  	font-size: 0.8em; 
  	text-align: center; 
}
a.action:hover { 
	background: #eeeeee; 
	color: #6c241c;
}

/* small action buttons */
.actions { 
	width: 130px; 
}
.actions a.action { 
	float: left; 
	min-width: 3.5em; 
  	padding: 1px 2px; 
  	margin: 2px 10px; 
  	font-size: 0.7em; 
}

/* Sharing buttons */
#sharing a{
	display: inline-block;
	text-decoration: none;
    text-align: left;
    font-size: 10px;
    color: #1c1c1c;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.8) inset;
    -moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 5px;
}
#sharing a:hover{
	color: #993120;
}

a#tweet-button {
    width: 40px;
    padding: 2px 2px 2px 20px;
    background: url('twitter.png') #eee no-repeat;
}
a#fb-button {
    width: 55px;
    padding: 2px 2px 2px 20px;
    background: url('facebook.png') #eee no-repeat;
}

a#linkedin-button {
	width: 50px;
    padding: 2px 2px 2px 20px;
    background: url('linkedin.png') #eee no-repeat;
}
