/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* Public stylesheet */

/* Colors
red:          #9F352A
green:        #94B26F
light green:  #B6D491
yellow:       #F2DC87
dark brown:   #332318
light brown:  #4C2516
*/

html { height: 100%; width: 100%; }
body { width: 100%; min-width: 980px; height: 100%; margin: 0; padding: 0; 
  font: 14px Verdana,Lucida,Arial,Helvetica,sans-serif; color: #eeeeee; }
p, td, ul, ol, li, dl, dt, dd { 
  font-family: Verdana,Lucida,Arial,Helvetica,sans-serif; }
p, td, ul, ol, li, dl, dt, dd, h1, h2, h3 { 
  padding: 5px 0 5px 0; margin: 0;}
li { margin-left: 1em;}
img { border: none; }
table { border-collapse: collapse; }
table tr th, table tr td { vertical-align: top; text-align: left; 
  padding: 3px; }
a, a:visited { color: #FF8888; }
a { text-decoration: underline; }
a:hover { color: #EEEEEE; }

.clear { clear: both; }
.center { text-align: center; }

/* Structure */
#header { height: 5em; padding: 1em 0 0 1em; text-align: left; background: url("header_background.png") repeat-x #993120;
  color: #000000; border-top: 1em solid #4C2516; margin: 0;}
#header h1 { margin: 0; padding: 0; }
#header_content { width: 1000px; margin: 0 auto 0 auto; }

#info_bar { height: 3em; background: #4C2516; }
#info_bar_content { width: 1000px; margin: 0 auto 0 auto;}

#main { width: 1000px; margin: 20px auto 20px auto; }
#main_header { height: 67px; background: url("content_header.png"); }
#main_header h2 { width: 88%; color: #EEEEEE; padding: 20px  0 5px 20px; border-bottom: 1px solid #9a3329; margin: 0 0 0 40px; }
#main_content { width: 100%; background: url("content_background.png") repeat-y transparent; }
#content { width: 90%; margin: 0 auto 0 auto; padding: 20px;}
#main_footer { height: 45px; background: url("content_footer.png");}

#footer { clear: both; height: 2.5em; text-align: right;
  background: #6c241c; color: #EEEEEE; }
#footer p { margin: 0; padding: 0.5em 1em; }
#wrapper { min-height: 100%; height: auto !important; height: 100%; 
  margin: 0 auto -50px; background: #1c1c1c; }
#footer, #push { height: 50px; }


/****************/

/* Structure */

.page_logo {float:left; margin-right: 20px;}

.access_links {float:right; margin-right: 20px;}
a.access{ color: #eeeeee; padding: 5px 10px 5px 10px; margin: 0 5px 0 5px; position: relative; top: 0.5em; display:inline-block; width:101px; height: 22px;
  background: url("nav_button.png") ; color: #eeeeee; font-size: 18px; text-decoration: none;  text-align: center;}
a.access:hover { background: url("nav_button_hover.png"); text-decoration: none; }
a.navigation { height: 3em; font-size: 18px; text-decoration: none; padding: 0 10px 0 10px;
  position: relative; top: 10px;}
a.navigation:hover {background: #eeeeee; color: #6c241c; text-decoration: none;}
.login_status { color: #eeeeee; float:right; padding: 10px 20px 0 0; }

/* large action buttons */
a.action { float: right; padding: 2px 5px; margin: 0 0 1em 1em; 
  background: #6c241c; color: #eeeeee;  border: 1px solid #000000;
  text-decoration: none; font-size: 0.8em; text-align: center; }
a.action:hover { background: #eeeeee; color: #6c241c;}

/* small action buttons */
.actions { width: 200px; }
.actions a.action { float: left; min-width: 3.5em; 
  padding: 1px 2px; margin: 2px 10px; font-size: 0.7em; }

/* Forms */
form { width: 600px; margin: 0 auto 0 auto; }
.form-input input { display:block; width:600px; height: 40px; }
.form-input textarea {width:600px; font-family: Verdana,Lucida,Arial,Helvetica,sans-serif;}
.form-input select { display:block; width:600px; height: 30px; }
.form-field { padding: 10px 0 10px 0;}
.form-field label { font-size: 18px; }
.form-field input, select { margin: 10px 0 10px 0; font-size: 18px;}
.form-buttons { text-align: center; margin-top: 10px;}
.form-buttons input { font-size: 18px; padding: 10px;}

.notice { height: 1.25em; padding: 0.5em; text-align: center;
  background: url("notice_background.png") repeat-y transparent; color: #6c241c; }
.back-link { font-size: 0.8em; margin-bottom: 1em; }


.list table { clear: both; width: 100%; }
.list th { text-align: center; }
.show table { clear: both; margin: 0 200px; width: 100%; }
.show table tr th { white-space: nowrap; padding-right: 5px;}
.show table tr td { border: none; }
.show table td { height: 40px; }
.show_post { width: 80%; margin: 0 auto;  }
.show_post h2 { border-bottom: 1px solid #9a3329 }
.post_description {background:#666666; font-size: 16px; line-height: 22px; text-align:justify;}
.show_post li { margin-left: 20px; }
.show_post div {padding: 5px 20px 5px 20px;}
.show_post .back-link {position:relative; right: 100px;}
.score {float: left; text-align:center; position:relative; top: 80px;}
.edit table, .new table { margin: 0 auto; }

/* A */
.odd { background: #2c2c2c; }
.even { background: none; }

/* Errors */
.fieldWithErrors label { color: #AA0000; }
.fieldWithErrors input textarea { border: 1px solid #AA0000; }
#errorExplanation { width: 600px; padding: 0; margin: 0 auto 15px auto; 
  border: 1px solid #AA0000; background-color: #EEEEEE; font-size: 14px; }
#errorExplanation h2 { font-weight: bold; font-size: 18px;
  padding: 5px 5px 5px 15px; margin: 0; width: 580px;
  background-color: #AA0000; color: #FFFFFF; }
#errorExplanation p { color: #333333; margin: 0; padding: 3px 0.5em; }
#errorExplanation ul { margin-top: 0; margin-left: 25px; color: #333333;}
#errorExplanation ul li { list-style: square; }



