// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Detailed View of a problem post */
.show_post { width: 80%; margin: 0 auto;  }
.show_post h2 { border-bottom: 1px solid #9a3329 }
.show_post li { margin-left: 20px; }
.show_post div {padding: 5px 20px 5px 20px;}

.back-link a {position:relative; right: 45px;}
.problem_description { background:#666666; font-size: 16px; line-height: 22px; text-align:justify; white-space: pre-line; margin-top: 10px;}
.solution_display { white-space: pre-line; }
.problem_score { text-align:center; float:left; position:relative; top: 40px; }
.solution_score { text-align:center; float:left; position:relative; top: 10px; }
.solution_submit form {  width: 80%; margin: 0 auto; }
.solution_submit .form-input textarea { width: 100%; }

/* Pagination */
.digg_pagination {
  padding-top: 20px;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #DD5555;
    color: white;
    border: 1px solid #FF0000; }
  .digg_pagination a {
    text-decoration: none;
    color: #eeeeee; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #FF8888;}
  .digg_pagination .page_info {
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
