/* Styles relating post views */

/* New */
.form-field p{
  padding:0;
}

.add_nested_fields span.ui-button-text{
  padding: 1px 5px 1px 5px;
  width: 250px;
}
.fields input, .fields select{
  margin: 2px 0 2px 0;
}
.remove_nested_fields{
  text-decoration:none;
  font-size:20px; 
  display: inline;
}

/* List and Search */
.listing { 
  margin: 10px 0 10px 0; 
}
.snippet { 
  padding: 10px; 
  font-size: 14px; 
  line-height: 130%; 
}
.snippet b { 
  background: #4C2516;
}

/* Show */
.show_post {
  width: 600px; 
}
.show_post h2 { 
  border-bottom: 1px solid #9a3329; 
}
.show_post li { 
  margin-left: 20px; 
}
.show_post div { 
  padding-bottom: 5px; 
}
.show_post div.post_display { 
  padding: 15px 20px 15px 20px; 
}
.post_display { 
  background:#666666; 
  font-size: 16px; 
  line-height: 22px; 
  text-align:justify; 
  white-space: pre-line; 
  margin-top: 10px; 
  margin-bottom: 10px;  
  border-bottom: 1px solid #1c1c1c; 
  border-right: 1px solid #1c1c1c; 
}
div.post_footer { 
  font-size: 14px; 
  line-height: 18px; 
  text-align:justify; 
  padding:0; 
}
.post_footer ul { 
  padding:0; 
  list-style-type:square;
}
.score { 
  text-align:center; 
  width: 40px; 
  padding: 5px; 
}
.score span { 
  font-size: 18px; 
  display:block; 
  padding: 5px 0 5px 0;
}
.score form {width:40px;}
.score input {width: 30px; background: #666666; border: 1px solid #000; color: #eeeeee;}

input.vote_positive { color: #00CC00; }
input.vote_negative { color: #CC0000; }

.comments { margin-top: 5px; }
.comment {padding: 5px 0 5px 0; border-bottom: 1px dotted #aaaaaa; }
.comment .score p, .comment .score form, .comment .score form div, .comment .score span {
  display:inline-block;
}
.comment table { width: 100%; }
.comment_col { width: 79%; padding:0; }
.comment_col p {padding:0; white-space: pre-wrap; }
.vote_col {width: 21%; padding:0;}
.comment .score { display:inline; }
.comment .score p.score_text { display: none; }
.comment .score span.score_value { font-size: 14px; }
.comment .score .vote_positive, .comment .score .vote_negative { background: none; border:0; }

.comment_form form { width: 100%; margin:0;}
.comment_form .message { display:block; }
input#comment_comment { width: 500px; height: 28px; font-size: 16px;}

/* Pagination Styling from http://mislav.uniqpath.com/will_paginate/ */
.pagination {
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #DD5555;
    color: white;
    border: 1px solid #FF0000; }
  .pagination a {
    text-decoration: none;
    color: #eeeeee; }
    .pagination a:hover, .pagination a:focus {
      color: #FF8888;}