// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#information {min-height:500px; font-size: 16px; line-height: 22px; text-align:justify;}
.right_list {float:right; width: 15%; padding-right:20px; }

#alt_header {height:67px; float:right; position: relative; right: 100px;}
#alt_header h2 { color: #EEEEEE; padding: 20px  0 0 50px; }

.category1{margin-left:30px;}
.category2{margin-left:60px;}