// Place all the styles related to the UserAccess controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login form { 
  width: 420px; 
  margin: 40px auto 40px auto; 
}
.login .form-field { 
  padding-left: 10px;
}
.login .form-input input { 
  width: 400px; 
}

.admin_menu a { 
  font-size: 16px; 
  text-decoration:none;
}
.admin_menu ul { 
  margin: 3em 250px; 
  list-style: none; 
}
.admin_menu ul li { 
  margin-bottom: 1em; 
}

#login_notice {
  color: #C00;
}

#facebox .content label, #facebox .content p{
  color: #eee;
}
