// Place all the styles related to the UserAccess controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login form { width: 300px; margin: 0 auto 0 auto; }
.login .form-input input { width:300px; }
a { font-size: 14px; }