    <div class="form-input">
    <table summary="Category form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Parent ID</th>
        <td>
        	<%= f.text_field(:parent_id) %>
        </td>
      </tr>
    </table>
    </div>