<% @page_title = "Update Category"%>
<% @content_header = "Update Category"%>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="category new">

  <%= form_for(:category, :url => {:action => 'update', :id => @category.id}) do |f| %>
  
	<%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Submit Category") %>
    </div>
    
  <% end %>
</div>