<% @page_title = "Create Category"%>
<% @content_header = "Create Category"%>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="category new">

  <%= form_for(@category, :validate => true, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Submit Category") %>
    </div>
    
  <% end %>
</div>