<% @page_title = "Create Category"%>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="category new">
  <h2>Create Category</h2>

  <%= form_for(:category, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Submit Category") %>
    </div>
    
  <% end %>
</div>