<!-- Solution form -->
<script>confirm_submit("#solution_confirm", "#solution_submit");</script>
<div id="solution_confirm" title="Submit Fix" style="display: none;">Are you sure wish to submit this fix?</div>
<div id="solution_success" title="Fix Submitted" style="display: none;">The fix was submitted successfully</div>

<%= form_for(solution, :remote => true, :url => {:controller => 'solutions', :action => 'create', :id => post.id}) do |f| %>
    <div class="form-input">
      <div class="form-field">
        <%= f.label("Post a new fix to this problem") %>
        <div class="textarea_background"><%= f.text_area(:description, :size => "600x10", :id => 'find_fix_textarea') %></div>
      </div>        
    </div>
    
    <div class="form-buttons">
      <%= submit_tag("Submit Fix", :id => 'solution_submit') %>
    </div>

<% end %>
