<% @page_title = "Home"%>
<% @page_description = "Welcome to Find Fix, a web application that allows you to record, discuss and search IT support problems and solutions." %>
<% @content_header = "Recent Problems"%>
<div id="recent_problems">
	<%= render 'posts/list_posts', :posts => @recent_problems %>
</div>

<% content_for :right_bar do %>
<div class="right_bar_feature">
<h2>Welcome</h2>

<p>
  This is Find Fix, the web application that allows you to record, discuss and search for IT support problems and fixes.
</p>
<p class="right"><%= link_to("About Find Fix", {:controller => 'public', :action => 'about'}) %></p>
</div>

<% end %>

<% @hide_categories = false %>
<% @hide_tags = false %>
