<% @page_title = "Privacy Policy" %>
<% @content_header = "Privacy Policy" %>
<div class="info privacy">
	<p>Data privacy is important. The types of data and the methods in which it is collected should be made transparent. Listed below are the find-fix.com policies on data privacy.</p>
	<br />
	<h3>Personal Data</h3>
	<ul>
		<li>We don’t ask you for personal information unless we truly need it. The only personal data we require from you is a username, password and your email address any other data is optional.</li>
		<li>Your email is required to contact you regarding changes to your account or to reset your password should you require it.</li>
		<li>We don’t share your personal information with anyone except to comply with the law or protect our rights.</li>
		<li>All other data stored by find-fix.com is supplied by users and we are not responsible for its authorship. Although we do reserve the right to remove, censor or block content if it is deemed illegal or inappropriate</li>
	</ul>
	<p>If you have questions about deleting or correcting your personal data please contact our support team at <%= link_to "support@find-fix.com", "mailto:support@find-fix.com" %></p>
	<br />
	<h3>Usage Statistics</h3>
	<p>Like most website operators, find-fix.com reserves the right to collect non-personally-identifying information of the sort that web browsers and servers 
	typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. These activities are performed to 
	learn ways to improve the service and make it more secure.</p>
	<br />
	<h3>Cookies</h3>
	<p>A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. 
	   Find-fix.com does not currently use persistent cookies, however session cookies are used to track user login status. No user sensitive data is kept in these cookies</p>
	<br />
	<h3>Advertisements</h3>
	<p>No advertisements are used on the site at present. although that is subject to change in the future</p>
	<br />
	<h3>Privacy Policy Changes</h3>
	<p>Although most changes are likely to be minor, we may change its Privacy Policy from time to time. As such we encourage visitors to frequently check this page for any 
	   changes to the Privacy Policy. Any changes made will be listed below.</p>
</div>
