<% @page_title = "Terms and Conditions" %>
<% @content_header = "Terms and Conditions of Website Use" %>
<div class="info terms">
	<h3>1. Terms</h3>
	<p>
	By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, 
	and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. 
	The materials contained in this web site are protected by applicable copyright and trade mark law.
	</p>
	<br />
	<h3>2. Use License</h3>
	<p>Permission is granted to download the materials (information or software) on Find-Fix's web site.</p>
	<p>Under this license you may not:</p>
	<ul>
	        <li>Attempt to decompile or reverse engineer the Find-Fix web site</li>
	        <li>Attempt to destroy or amend information posted by other users without express permission</li>
	        <li>Deliberately abuse resources on the Find-Fix web site to halt service.</li>
	        <li>Remove any copyright or other proprietary notations from any material posted or
	        	use Find-Fix.com to unlawfully host copyrighted material.</li>
	</ul>
	<p>This license shall automatically terminate if you violate any of these restrictions and may be terminated by Find-Fix at any time.</p>
	<br />
	<h3>3. Disclaimer</h3>
	<p>The materials on Find-Fix.com are provided "as is". Find-Fix makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, 
		including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or 
		other violation of rights. Further, Find-Fix does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the 
		materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</p>
	<br />
	<h3>4. Limitations</h3>
	<p>In no event shall Find-Fix or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) 
		arising out of the use or inability to use the materials on Find-Fix's Internet site, even if Find-Fix or a Find-Fix authorized representative has been notified orally or 
		in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or 
		incidental damages, these limitations may not apply to you.</p>
	<br />	
	<h3>5. Revisions and Errata</h3>
	<p>The materials appearing on Find-Fix's web site could include technical, typographical, or photographic errors. Find-Fix does not warrant that any of the materials on its 
		web site are accurate, complete, or current. Find-Fix may make changes to the materials contained on its web site at any time without notice. Find-Fix does not, however, 
		make any commitment to update the materials.</p>
	<br />	
	<h3>6. Links</h3>
	<p>Find-Fix has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not 
	imply endorsement by Find-Fix of the site. Use of any such linked web site is at the user's own risk.</p>
	<br />
	<h3>7. Site Terms of Use Modifications</h3>
	<p>Find-Fix may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these 
		Terms and Conditions of Use.</p>
	<br />	
	<h3>8. Governing Law</h3>
	<p>Any claim relating to Find-Fix's web site shall be governed by UK law without regard to its conflict of law provisions.</p>
	<br />
</div>
